{% extends "layout/layout.html" %}


{% block content -%}

<table>
    <tbody>
        <tr>
            <td></td>
            <td>Надя (день 1)</td>
            <td>Діна (день 1)</td>
        </tr>
        <tr>
            <td>Поточна маса</td>
            <td>0 кг</td>
            <td>0 кг</td>
        </tr>
        <tr>
            <td>Бажана маса</td>
            <td>0 кг</td>
            <td>0 кг</td>
        </tr>
        <tr>
            <td>Залишилось скинути</td>
            <td>0 кг</td>
            <td>0 кг</td>
        </tr>
        <tr>
            <td>Тривалість програми</td>
            <td>0 тижнів</td>
            <td>0 тижнів</td>
        </tr>
        <tr>
            <td>Для досягнення мети терба скидати</td>
            <td>0 кг/тиждень</td>
            <td>0 кг/тиждень</td>
        </tr>
    </tbody>
</table>

{%- endblock %}
