{% extends "layout/layout.html" %}


{% block content -%}

<h1>День 1</h1>
<label>Маса (см): <input type="text"></label>
<label>Плече праве (см): <input type="text"></label>
<label>Плече ліве (см): <input type="text"></label>
<label>Кисть (см): <input type="text"></label>
<label>Талія (см): <input type="text"></label>
<label>Живіт (см): <input type="text"></label>
<label>Сідниці (см): <input type="text"></label>
<label>Стегно праве (см): <input type="text"></label>
<label>Стегно ліве (см): <input type="text"></label>
<label>Гомілка права (см): <input type="text"></label>
<label>Гомілка ліва (см): <input type="text"></label>

{%- endblock %}
