{% extends "layout/layout.html" %}


{% block content -%}

<h1>День 1</h1>
<label><input type="checkbox">Без цукру</label>
<label><input type="checkbox">Солодке до 12:00</label>
<label><input type="checkbox">Без фастфуду</label>
<label><input type="checkbox">Три основні прийоми їжі</label>
<label><input type="checkbox">Достатньо чистої води</label>
<label><input type="checkbox">Порція до 400 г</label>
<label><input type="checkbox">Розвантажувальний день</label>
<label><input type="checkbox">Останній прийом їжі до 20:00</label>

{%- endblock %}
